body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
}

table {
  margin: auto;
  border: solid 3px white;
  /* height: 350px;
  width: 350px; */
  height: 450px;
  width: 500px;

}

td {
  border: solid white 1px;
}

.empty {
  background-color: green;
}


.cell {
  background-color: blue;
  height: 40px;
  width: 40px;
}

.mine {
  background-color: red;

}

.hide {
  background-color: grey;
}

.modal {
  display: none;
}

footer {
  font-size: 25px;
  margin-top: 100px;
  background-color: lightgray;
}

.restart-btn {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 25px;
}
.restart-btn2 {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: none;
}
.restart-btn3 {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 25px;
  display: none;
}

.msg1 {
  display: none;
}

.msg2 {
  display: none;
}

.cellClicked {
  background-color: white;
}