body {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 25px;
}

table {
  margin: auto;
  border: solid 3px white;
  height: 350px;
  width: 350px;

}

td {
  border: solid white 1px;
  width: 25%;
  height: 25%;
}

.empty {
  background-color: green;
}


.cell {
  background-color: blue;
}

.mine {
  background-color: red;
}

.hide {
  background-color: yellow;
}

.modal {
  display: none;
}

footer {
  font-size: 25px;
  margin-top: 100px;
  background-color: lightgray;
}

.restart-btn {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 25px;
}

.msg1 {
  display: none;
}

.msg2 {
  display: none;
}